.banner{
    padding:10px 20px 40px;
    display: flex;
}

.banner >img {
    object-fit:contain;
    height:210px;
    margin-right:30px; 
    box-shadow: 4px 8px 10px 1px black;
}

.banner > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner > div >h1{
    font-size:85px;
    margin:7px 0px;

}

.banner > div >p{
    font-size:15px;

}