.createPlaylist{

    background-color: #121212;
    color:white;
}
.createPlaylist_icons{
    display: flex;
    align-items: center;
    padding:5px 10px;
    justify-content: space-between;
    width:190px;
}

.createPlaylist_grid{
    display: grid;
    grid-template-columns:160px 160px 160px 160px 160px;
    grid-auto-rows:230px;
    grid-gap:60px;
    padding:50px 20px ;
}

.createPlaylist_body{
    background-color: rgba(0,0,0,0.2);
}