.createPlaylist{
    padding: 0px 10px;
}
.createPlaylist_icons{
    display: flex;
    align-items: center;
    padding:5px 10px;
    justify-content: space-between;
    width:190px;
}

.createPlaylist_grid{
    display: flex;
    justify-content: space-between;
    padding:10px 0px;
}