.home{
    background-color: #121212;
    color:white;
    height: 87vh;
    padding-bottom: 13vh;
    overflow: auto;
}

.home_body{
    padding:10px 20px;
}

.home_body >h2{
    padding:30px 0px 10px;
}

.home_card_grid{

    display: grid;
    grid-template-columns:160px 160px 160px 160px 160px;
    grid-gap:60px;

    padding:10px 0px;
}
