.likedSongs{
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: #311f74;
  color:white;
  height: 87vh;
  padding-bottom: 13vh;
}

.likedSongs_body{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 20px 50px 20px ;
}
