.searchCard{
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color:rebeccapurple;
    height:170px;
    width: 170px;
    border-radius: 15px;
    border:0px;
    padding: 10px;


}