.sideOption{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:10px 0vw;
    color:var(--grey4);
    cursor: pointer;
    transition: all 0.15s ease-in;
    color:#b3b3b3;
}

.sideNavOption_icon{
    padding:0vw 10px 0vw 15px;
}

.sideOption:hover{
    background-color: #535353;
    color:white;  

}