.songRow{
    background-color: transparent;
    padding:10px ;
    display: grid;
    grid-template-columns: 50% 40% 10%;
    min-width: 500px;
}

.songRow p{
    font-size:15px;
    color:grey;
}

.songRow_highlight{
    color:white;
    font-size:17px;

}

.songRow:hover{
    background-color: rgba(128, 128, 128,0.3);
}

.songRow_left{
    flex:0.5; 
    display: flex;
    align-items: center;

}
.songRow_img{
    height:40px;
    object-fit: contain;
    margin:0px  10px;
}

.songRow_center{
    flex:0.25;
    display: flex;

}

.songRow_right{
    flex:0.25;
    display: flex;

}