.songCard{
    height:230px;
    background-color: #212121;
    padding:15px;
    width:160px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:white;
    transition: all 0.3s ease-in;
    border-radius: 5px;

    box-shadow:1px 1px 10px 1px black;
}
.songCard:hover{
    background-color:#535353
}
.songCard_img_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.songCard_img_container > img{
    height:160px;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 5px;
}

.songCard:hover img{
    box-shadow:1px 1px 10px 1px black;
}


.songCard_playbutton{
    position: absolute;
    bottom: 30px;
    right:10px;
    transform :translateY(20px);
    opacity: 0;
}


.songCard:hover .songCard_playbutton{
    transform :translateY(0px);
    opacity: 1;
    transition: all 0.2s ease-in;

}

.songCard_songdetails{
    width:160px;
    min-height:55px; 

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.songCard p{
    color:grey;
}